@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

body::before {
  display: block;
  content: '';
  height: 60px;
}

.logo {
  width: 5%;
  height: 5%;
}

.text {
  color: #272a31;
}

.nav-text {
  color: #272a31;
}

.nav-text:hover {
  color: #ec5242;
}

.bg-color {
  background-color: #d3d3d3;
}

.bg-color2 {
  background: #ec5242;
}

.c-item {
  height: auto;
}

.c-img {
  object-fit: contain;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .alerts-input {
    width: 50%;
  }
}
